In [2]:
import pandas as pd

In [3]:
data = pd.read_table("./data/EURUSD1440.csv", names=["datetime", "open", "high", "low", "close", "volume"])

num = data.shape[0]

In [4]:
data.head()

           datetime     open     high      low    close  volume
0  2007-11-14 00:00  1.46492  1.46534  1.46381  1.46492    6514
1  2007-11-15 00:00  1.46490  1.47038  1.46009  1.46174  860157
2  2007-11-16 00:00  1.46181  1.46721  1.45786  1.46584  836881
3  2007-11-18 00:00  1.46689  1.46733  1.46618  1.46670   22169
4  2007-11-19 00:00  1.46682  1.46884  1.46170  1.46656  859485

In [5]:
data[(data["datetime"] >= "2007-11-14 00:00") & (data["datetime"] <= "2007-11-20 00:00")]

           datetime     open     high      low    close  volume
0  2007-11-14 00:00  1.46492  1.46534  1.46381  1.46492    6514
1  2007-11-15 00:00  1.46490  1.47038  1.46009  1.46174  860157
2  2007-11-16 00:00  1.46181  1.46721  1.45786  1.46584  836881
3  2007-11-18 00:00  1.46689  1.46733  1.46618  1.46670   22169
4  2007-11-19 00:00  1.46682  1.46884  1.46170  1.46656  859485
5  2007-11-20 00:00  1.46657  1.48517  1.46303  1.48295  858066

In [6]:
data["datetime"] = pd.to_datetime(data["datetime"])

In [7]:
data[(data["datetime"] >= "2007-11-14 00:00") & (data["datetime"] <= "2007-11-20 00:00")]

    datetime     open     high      low    close  volume
0 2007-11-14  1.46492  1.46534  1.46381  1.46492    6514
1 2007-11-15  1.46490  1.47038  1.46009  1.46174  860157
2 2007-11-16  1.46181  1.46721  1.45786  1.46584  836881
3 2007-11-18  1.46689  1.46733  1.46618  1.46670   22169
4 2007-11-19  1.46682  1.46884  1.46170  1.46656  859485
5 2007-11-20  1.46657  1.48517  1.46303  1.48295  858066

In [8]:
data.iloc[0]

datetime    2007-11-14 00:00:00
open                    1.46492
high                    1.46534
low                     1.46381
close                   1.46492
volume                     6514
Name: 0, dtype: object

In [11]:
data.describe()[["open", "high", "low", "close", "volume"]]

              open         high          low        close        volume
count  5014.000000  5014.000000  5014.000000  5014.000000  5.014000e+03
mean      1.230038     1.234664     1.225437     1.229998  2.444820e+05
min       0.959530     0.967070     0.953570     0.959530  3.000000e+00
25%       1.115500     1.119073     1.112283     1.115498  8.066250e+04
50%       1.193475     1.196825     1.190175     1.193555  1.921500e+05
75%       1.337885     1.342675     1.333300     1.338080  2.766382e+05
max       1.597200     1.603890     1.589540     1.597210  1.723532e+06
std       0.137595     0.138477     0.136593     0.137557  2.434315e+05