In [1]:
import pandas as pd

In [18]:
data = pd.read_table("./data/EURUSD1440.csv", names=["datetime", "open", "high", "low", "close", "volume"])

num = data.shape[0]

In [19]:
data.head()

           datetime     open     high      low    close  volume
0  2007-11-14 00:00  1.46492  1.46534  1.46381  1.46492    6514
1  2007-11-15 00:00  1.46490  1.47038  1.46009  1.46174  860157
2  2007-11-16 00:00  1.46181  1.46721  1.45786  1.46584  836881
3  2007-11-18 00:00  1.46689  1.46733  1.46618  1.46670   22169
4  2007-11-19 00:00  1.46682  1.46884  1.46170  1.46656  859485

In [22]:
data[(data["datetime"] >= "2007-11-14 00:00") & (data["datetime"] <= "2007-11-20 00:00")]

           datetime     open     high      low    close  volume
0  2007-11-14 00:00  1.46492  1.46534  1.46381  1.46492    6514
1  2007-11-15 00:00  1.46490  1.47038  1.46009  1.46174  860157
2  2007-11-16 00:00  1.46181  1.46721  1.45786  1.46584  836881
3  2007-11-18 00:00  1.46689  1.46733  1.46618  1.46670   22169
4  2007-11-19 00:00  1.46682  1.46884  1.46170  1.46656  859485
5  2007-11-20 00:00  1.46657  1.48517  1.46303  1.48295  858066

In [23]:
data["datetime"] = pd.to_datetime(data["datetime"])

In [24]:
data[(data["datetime"] >= "2007-11-14 00:00") & (data["datetime"] <= "2007-11-20 00:00")]

    datetime     open     high      low    close  volume
0 2007-11-14  1.46492  1.46534  1.46381  1.46492    6514
1 2007-11-15  1.46490  1.47038  1.46009  1.46174  860157
2 2007-11-16  1.46181  1.46721  1.45786  1.46584  836881
3 2007-11-18  1.46689  1.46733  1.46618  1.46670   22169
4 2007-11-19  1.46682  1.46884  1.46170  1.46656  859485
5 2007-11-20  1.46657  1.48517  1.46303  1.48295  858066

In [31]:
data.iloc[0]

datetime    2007-11-14 00:00:00
open                    1.46492
high                    1.46534
low                     1.46381
close                   1.46492
volume                     6514
Name: 0, dtype: object